BFY.xcodeproj/project.xcworkspace/xcuserdata/vlada.xcuserdatad/UserInterfaceState.xcuserstate
*.DS_Store
BFY.xcodeproj/project.xcworkspace/xcuserdata/polinapodcufarova.xcuserdatad/UserInterfaceState.xcuserstate
BFY.xcodeproj/xcuserdata/polinapodcufarova.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BFY.xcworkspace/xcuserdata/vlada.xcuserdatad
BFY.xcworkspace/xcuserdata/polinapodcufarova.xcuserdatad/
