BFY.xcodeproj/project.xcworkspace/xcuserdata/vlada.xcuserdatad/UserInterfaceState.xcuserstate
*.DS_Store
BFY.xcodeproj/project.xcworkspace/xcuserdata/polinapodcufarova.xcuserdatad/UserInterfaceState.xcuserstate
